<div class="row listHeading">
  <div class="col-lg-6 col-md-12 col-sm-12 contentCol">
    <div class="row">
      <div class="col-lg-12 tecTerm">
        <h4 style="color: #979797">THE TERMINOLOGY…</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 technologyName">
        <h1 style="color: white">LAUNCH VEHICLE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 tecDes">
        <p>
          A launch vehicle or carrier rocket is a rocket-propelled vehicle used
          to carry a payload from Earth's surface to space, usually to Earth
          orbit or beyond. Our WEB-X carrier rocket is the most powerful in
          operation. Standing 150 metres tall, it's quite an awe-inspiring sight
          on the launch pad!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="slides">
          <li class="nav-dots">
            <label
              for="img-1"
              class="nav-dot"
              id="img-dot-1"
            ></label>
            <label
              for="img-2"
              class="nav-dot"
              id="img-dot-2"
            ></label>
            <label
              for="img-3"
              class="nav-dot"
              id="img-dot-3"
            ></label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 contentColOne">
    <div class="cardOne">
      <img class="crewImage" src="assets/img/lanchVehicle.png" />
    </div>
  </div>
</div>
