<section id="title" class="home">


  <div class="container-fluid  home-container">
    <!-- Title -->
    <div class="row rowOne justify-content-center align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 contentColOne">
        <div class="cardOne">
          <p>SO, YOU WANT TO TRAVEL TO</p>
        <h1>SPACE</h1>
        <p>
          Let’s face it; if you want to go to space, you might as well <br>
          genuinely go to outer space and not hover kind of on the <br> edge of it.
          Well sit back, and relax because we’ll give you a <br> truly out of this
          world experience!
        </p>
        </div>

      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 contentCol">
        <a href="" style="text-decoration: none; color: black;">
          <div class="card">
          <h1>EXPLORE</h1>
        </div>
      </a>
      </div>


    </div>
  </div>
</section>


